.icon-del            {  background-image: url('../img/delete.png'); }
.icon                {  background-position:0 50%; background-repeat:no-repeat no-repeat; padding-bottom:0px; padding-left:-50px; padding-right: 10px;padding-top:0px; }

.icon-add         {  background-image: url('../img/edit_add.png'); float: left; }
/* .fc-event-time {  */
/*     float: left; */
/* } */
